/* make the section responsive */
.letter-section-container {
  width: auto;
  max-width: 800px;
  padding: 20px 30px;
  border-radius: 10px;
  color: white;
  text-align: start;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.titel {
  text-align: center;
}

a {
  color: white;
}

.withPadding {
  padding-left: 25px;
}